### NLP Representations Exercise

In [3]:
# import pandas
import pandas as pd

# import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
 
# import TfidfTransformer 
from sklearn.feature_extraction.text import TfidfTransformer

# import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
docs=["the house had a tiny little mouse",
      "the cat saw the mouse",
      "the mouse ran away from the house",
      "the cat finally ate the mouse",
      "the end of the mouse story"
     ]

# BagOfWords

* instantiate [CountVectorizer()](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html)

In [5]:
cv = CountVectorizer()

* use fit_transform method of CountVectorizer to 'docs' and store the result in 'word_count_vector'

In [6]:
cv_fit = cv.fit_transform(docs)

* print the shape

In [7]:
cv_fit.shape

(5, 16)

* create dataframe from word_count_vector

In [11]:
wcv = pd.DataFrame(cv_fit.toarray(), 
                   columns=cv.get_feature_names())

In [12]:
wcv

,ate,away,cat,end,finally,from,had,house,little,mouse,of,ran,saw,story,the,tiny
0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,1,1
1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,2,0
2,0,1,0,0,0,1,0,1,0,1,0,1,0,0,2,0
3,1,0,1,0,1,0,0,0,0,1,0,0,0,0,2,0
4,0,0,0,1,0,0,0,0,0,1,1,0,0,1,2,0

# TfIdf with TfidfTransformer

* instantiate [TfidfTransformer()](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html) with the following parameters: 
    * smooth_idf = True
    * use_idf = True

In [15]:
tfidf = TfidfTransformer(smooth_idf=True, use_idf=True)

* use fit_transform method of tfidf transformer on 'word_count_vector' created above and store the result in 'tf_idf_data'

In [16]:
tf_idf_data = tfidf.fit_transform(wcv)

* create dataframe from 'tf_idf_data'

In [24]:
tf_df = pd.DataFrame(tf_idf_data.toarray(),
                    columns=cv.get_feature_names())

In [25]:
tf_df

,ate,away,cat,end,finally,from,had,house,little,mouse,of,ran,saw,story,the,tiny
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
1,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

* print the IDF for words in 'docs'

# TfIdf with TfidfVectorizer

* instantiate [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) with the following parameters:
    - use_idf = True

In [27]:
tfidf_vec = TfidfVectorizer(use_idf=True)

* fit and transforn 'docs' with TfidfVectorizer and store the result in 'tfidf_vectorizer_data'

In [28]:
tfidf_vectorizer_data = tfidf_vec.fit_transform(docs)

* create dataframe from tfidf_vectorizer_data

In [30]:
df_tf_idf = pd.DataFrame(tfidf_vectorizer_data.toarray(),
                    columns=cv.get_feature_names())

* print 'df_tf_idf'

In [31]:
print(df_tf_idf)

        ate      away       cat       end   finally      from       had  \
0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.493562
1  0.000000  0.000000  0.483344  0.000000  0.000000  0.000000  0.000000
2  0.000000  0.457093  0.000000  0.000000  0.000000  0.457093  0.000000
3  0.513923  0.000000  0.414630  0.000000  0.513923  0.000000  0.000000
4  0.000000  0.000000  0.000000  0.491753  0.000000  0.000000  0.000000

      house    little     mouse        of       ran       saw     story  \
0  0.398203  0.493562  0.235185  0.000000  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.285471  0.000000  0.000000  0.599092  0.000000
2  0.368780  0.000000  0.217807  0.000000  0.457093  0.000000  0.000000
3  0.000000  0.000000  0.244887  0.000000  0.000000  0.000000  0.000000
4  0.000000  0.000000  0.234323  0.491753  0.000000  0.000000  0.491753

        the      tiny
0  0.235185  0.493562
1  0.570941  0.000000
2  0.435614  0.000000
3  0.489774  0.000000
4  0.468646  0.000000

* print IDF for words in 'docs'