# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [1]:
x = set([])

* create a non empty set
* print that set

In [2]:
x = set(["louis", "jonathan", "josh"])
x

{'jonathan', 'josh', 'louis'}

* iterate over the set and print results

In [3]:
for i in x:
    print(i)

louis
josh
jonathan

* add one item to the set

In [4]:
x.add("lila")
x

{'jonathan', 'josh', 'lila', 'louis'}

* add multiple items to the set

In [12]:
y = set(["vishal", "mohammed"])
x |= y
x

{'jonathan', 'josh', 'lila', 'louis', 'mohammed', 'vishal'}

* remove an item from a set if it is present in the set

In [13]:
x.remove("vishal")
x

{'jonathan', 'josh', 'lila', 'louis', 'mohammed'}

* find maximum and minimum values of the set

In [14]:
print(max(x))

mohammed

In [16]:
print(min(x))

jonathan

* print the length of the set

In [17]:
print(len(x))

5

* create an intersection of x and y

In [18]:
x.intersection(y)

{'mohammed'}

* create an union of x and y

In [19]:
x.union(y)

{'jonathan', 'josh', 'lila', 'louis', 'mohammed', 'vishal'}

* create difference between x and y

In [20]:
x.difference(y)

{'jonathan', 'josh', 'lila', 'louis'}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [30]:
from collections import Counter
s = "black cat jumped over white cat"
words = s.split()
Counter(words)

NameError: name 'most_common' is not defined

* print the most common words

In [59]:
d = Counter(words).most_common()
d

[('cat', 2), ('black', 1), ('jumped', 1), ('over', 1), ('white', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [65]:
from collections import OrderedDict, defaultdict
s3 = "black cat jumped over white cat"
words2 = s.split()
od = OrderedDict(Counter(words))
od2 = OrderedDict(sorted(od.items(), key=lambda t: t[1]))
od2

OrderedDict([('black', 1),
             ('jumped', 1),
             ('over', 1),
             ('white', 1),
             ('cat', 2)])

* create deque from list set used in first exercise

In [70]:
from collections import deque
deq = deque(x)
deq

deque(['lila', 'louis', 'josh', 'jonathan', 'mohammed'])

* append number 10 to deque

In [71]:
deq.append(10)
deq

deque(['lila', 'louis', 'josh', 'jonathan', 'mohammed', 10])

* remove element from the right end from deque

In [73]:
deq.pop()
deq

deque(['lila', 'louis', 'josh', 'jonathan', 'mohammed'])

* remove element from the left end from deque

In [74]:
deq.popleft()
deq

deque(['louis', 'josh', 'jonathan', 'mohammed'])

* delete all elements from deque

In [78]:
deq.clear()
deq

deque([])

* create named tuple (people) with name and surname as position names

In [81]:
from collections import namedtuple

student = namedtuple("student", "fname, surname")
s1 = student("louis", "rossi")
s1

student(fname='louis', surname='rossi')

* print name and surname

In [82]:
s1

student(fname='louis', surname='rossi')

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [3]:
exception_string = ["louis", "josh", "lila", "vishal", "jonathan", 1]
for i in range(len(exception_string)):
    try:
        exception_string[i] = exception_string[i].upper()
    except:
        print("error happened")
print(exception_string)

# tried if i == type(str)
# tried if type(i) == str:

error happened
['LOUIS', 'JOSH', 'LILA', 'VISHAL', 'JONATHAN', 1]

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [25]:
thedict = {
    "darth vader": "father",
    "leia": "sister",
    "han": "brother in law",
    "r2d2": "driod"
}
def relation_to_luke(name):
    try:
        print("Luke, I am your " + thedict[name.lower()] + ".")
    except KeyError:
        print("No relation")

#### Task I
Fix errors in the function above so we can run following code

In [23]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father.
Luke, I am your sister.
Luke, I am your brother in law.
Luke, I am your driod.

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [26]:
relation_to_luke("aaaa")

No relation