In [2]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score;

In [8]:
df = pd.read_csv("original_train_data.csv", 
                 sep=',', 
                 names=['liked','txt'])

In [10]:
df.head()

   liked                                                txt
0      1            The Da Vinci Code book is just awesome.
1      1  this was the first clive cussler i've ever rea...
2      1                   i liked the Da Vinci Code a lot.
3      1                   i liked the Da Vinci Code a lot.
4      1  I liked the Da Vinci Code but it ultimatly did...

In [11]:
# TFIDF Vectorizer, just like before
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True,
                             lowercase=True, 
                             strip_accents='ascii',
                             stop_words=stopset)

In [12]:
y = df.liked

In [13]:
X = vectorizer.fit_transform(df.txt)

In [15]:
print(X.shape)
print(y.shape)
# observations, unique words

(7086, 2011)
(7086,)

In [ ]:
# train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                   test_size=0.2,
                                                   random)