In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [22]:
df = pd.read_csv("train.csv.xls")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
df.isnull().sum() # other datasets have 177 NULL AGE

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

## deleting rows

In [24]:
df.dropna(inplace = True) # dropped the NA values and fit the columns back
df.isnull().sum() # check again
# PROS - complete removal, accurate CONS - Loss of data, if missing values is high it breaks

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

## linear checks

In [25]:
df["Age"].isnull().sum() # 177 in other datasets

0

In [26]:
df["Age"].mean() # GET THE MEAN AGE

35.829297297297295

In [27]:
df["Age"].replace(np.NaN , df["Age"].mean()).head(15) # FILL NULLS WITH THE MEAN AGE!
# PROS - good for small data, prevents data loss CONS - adds variance and bias, not the best way

1     38.0
3     35.0
6     54.0
10     4.0
11    58.0
21    34.0
23    28.0
27    19.0
52    49.0
54    65.0
61    38.0
62    45.0
66    29.0
75    25.0
88    23.0
Name: Age, dtype: float64

In [28]:
df["Age"].median()

36.0

In [29]:
df["Age"].mode()

0    36.0
dtype: float64

## Assigning an Unique Category

In [31]:
df["Cabin"].head(10) # other datasets had massive NaN values

1             C85
3            C123
6             E46
10             G6
11           C103
21            D56
23             A6
27    C23 C25 C27
52            D33
54            B30
Name: Cabin, dtype: object

In [33]:
df["Cabin"].fillna('U').head(10) # THIS FILLS ALL NaN with the letter U
# PROS - Negates loss of data, results in low variance CONS - adds less variance, adds another feature

1             C85
3            C123
6             E46
10             G6
11           C103
21            D56
23             A6
27    C23 C25 C27
52            D33
54            B30
Name: Cabin, dtype: object

## Predicting missing values ML

In [36]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

data_with_null = df[["PassengerId","Pclass","Survived","SibSp","Parch","Fare","Age"]].dropna()
data_without_null = data_with_null.dropna()
# ALL FEATURES EXCEPT AGE
train_data_x = data_without_null.iloc[:,:6]
# ONLY AGE
train_data_y = data_without_null.iloc[:,6]

# TRAINING WITH AVAILABLE DATA
linreg.fit(train_data_x,train_data_y)

# PREDICT FOR WHOLE DATASET AND REPLACE ONLY MISSING VALUES LATER
test_data = data_with_null.iloc[:,:6]
age_predicted["Age"] = pd.DataFrame(linreg.predict(test_data)) # need to define this DF first...

# LETS REPLACE ONLY MISSING VALUES
data_with_null.Age.fillna(age_predicted.Age , inplace=True)

NameError: name 'age_predicted' is not defined