### JSON tutorial

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"
first_json = pd.read_json(url)
first_json.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [3]:
first_json.to_json('json_columns.json', orient="columns")
first_json.to_json('json_index.json', orient="index")

In [4]:
df = pd.read_json("nested.json")

ValueError: arrays must all be same length

In [5]:
import json
#load json object
with open('nested.json') as f:
    nested_json = json.load(f)
print(nested_json)
print(type(nested_json))

{'article': [{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Allen'}, {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Aditya Sharma'}], 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}
<class 'dict'>

In [6]:
from pandas.io.json import json_normalize  
json_normalize(nested_json)

C:\Users\JESSER~1\AppData\Local\Temp/ipykernel_7668/47299853.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'Datacamp', 'URL': 'datacamp.com'}]"

In [7]:
blog = json_normalize(nested_json,record_path ='blog')
blog.head()

C:\Users\JESSER~1\AppData\Local\Temp/ipykernel_7668/3315750077.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  blog = json_normalize(nested_json,record_path ='blog')

       name           URL
0  Datacamp  datacamp.com

In [8]:
article = json_normalize(nested_json,record_path ='article')
article.head()

C:\Users\JESSER~1\AppData\Local\Temp/ipykernel_7668/1841069608.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  article = json_normalize(nested_json,record_path ='article')

   id language edition         author
0  01     JSON   first          Allen
1  02   Python  second  Aditya Sharma

In [9]:
# define json string
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]

In [10]:
json_normalize(data)
json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

C:\Users\JESSER~1\AppData\Local\Temp/ipykernel_7668/3395705324.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(data)
C:\Users\JESSER~1\AppData\Local\Temp/ipykernel_7668/3395705324.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich