# Libraries

In [1]:
import re

# Load article

Download the text from [**here**](https://drive.google.com/file/d/1PEUMaDaPye5pxlA-SZTsnZ4k7WSzdLLe/view?usp=sharing) and load it into python using the following code snippet.

In [3]:
# Load lines into list
filename = 'Article.txt'
with open(filename, encoding='utf-8') as f:
    lines = f.readlines()

# Tasks

### Print the first 20 lines of article

In [45]:
#

## Print out every line from the file that...

... that has 'q'

In [20]:
#

... that starts with 'H'

In [21]:
#

... that has 'wh'

In [22]:
#

... that has an 'q' or a 'Q'

In [23]:
#

... that has a '*' in it

In [24]:
#

... that has a '*' (star) in it

In [25]:
#

... that starts with an 'T' or an 't'

In [26]:
#

... that starts with number

In [27]:
#

... that has both 'a' and 'e'  and 'i' and 'o' and 'u' in it

In [28]:
#

... that has an 'a' and somewhere later an 'e'

In [29]:
#

... that does not have an 'i'

In [30]:
#

... that does not have an 'i' nor 'z'

In [31]:
#

... that has an 'x' but not 'y'

In [32]:
#

... that has at least 2 consecutive vowels (a, e, i, o, u) like in the word "bear"

In [33]:
#

... that has at least 3 vowels

In [34]:
#

... that has at least 30 characters

In [35]:
#

... has the same word appear twice in the same line

In [35]:
#

## Print all the words

Words with either 'Bar' or 'Baz' in them

In [36]:
#

Words with either 'Whe' or 'The' in them

In [37]:
#

Words containing a double character (e.g. 'oo')

In [41]:
#

## Cleanup string codes so they contain only numbers
* Remove slash and spaces

In [44]:
codes = ['2373/ 8293', 
         ' 8292342 / 8263', 
         '12/903820 ',
         '8203184 / 02342 ']

#

## Switch order of the numbers in string
* Preserve slash /
* Remove spaces

In [40]:
codes = ['2373/ 8293', 
         ' 8292342 / 8263', 
         '12/903820 ',
         '8203184 / 02342 ']

#