# Datetime

### Datetime classes

#### datetime – Allows us to manipulate times and dates together (month, day, year, hour, second, microsecond).
#### date – Allows us to manipulate dates independent of time (month, day, year).
#### time – Allows us to manipulate time independent of date (hour, minute, second, microsecond).
#### timedelta— A duration of time used for manipulating dates and measuring.
#### tzinfo— An abstract class for dealing with time zones.

In [2]:
# import datetime class from datetime module
from datetime import datetime

# get current date
datetime_object = datetime.now()
print(datetime_object)
print('Type :- ',type(datetime_object))

2021-09-14 18:36:49.574869
Type :-  <class 'datetime.datetime'>

In [5]:
my_string = '2021-09-14'

# Create date object in given time format yyyy-mm-dd
my_date = datetime.strptime(my_string, "%Y-%m-%d") # two arguments

print(my_date)
print('Type: ',type(my_date))

2021-09-14 00:00:00
Type:  <class 'datetime.datetime'>

In [6]:
print('Month: ', my_date.month) # To Get month from date
print('Year: ', my_date.year) # To Get month from year

Month:  9
Year:  2021

In [9]:
# import calendar module
import calendar
print('Day of Month:', my_date.day)

# to get name of day(in number) from date
print('Day of Week (number): ', my_date.weekday()) # why 1 for Tuesday? see next cell

# to get name of day from date
print('Day of Week (name): ', calendar.day_name[my_date.weekday()])

Day of Month: 14
Day of Week (number):  1
Day of Week (name):  Tuesday

In [10]:
j = 0
for i in calendar.day_name:
    print(j,'-',i)
    j+=1

0 - Monday
1 - Tuesday
2 - Wednesday
3 - Thursday
4 - Friday
5 - Saturday
6 - Sunday

In [14]:
from datetime import datetime 
todays_date = datetime.now() # Get time of day

# to get hour from datetime
print('Hour: ', todays_date.hour)

# to get minute from datetime
print('Minute: ', todays_date.minute)

Hour:  18
Minute:  43

In [15]:
# Return a 3-tuple, (ISO year, ISO week number, ISO weekday).
todays_date.isocalendar()

(2021, 37, 2)

In [16]:
todays_date.isocalendar()[1]

37

#### unix timestamp?

In [18]:
#import datetime
from datetime import datetime
# get current date
now = datetime.now()

# convert current date into timestamp
timestamp = datetime.timestamp(now)

print("Date and Time :", now)
print("Timestamp:", timestamp)

Date and Time : 2021-09-14 18:44:32.800381
Timestamp: 1631659472.800381

In [19]:
#import datetime
from datetime import datetime
timestamp = 1572014192.8273

#convert timestamp to datetime object
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object:", dt_object)
print("type(dt_object): ", type(dt_object))

dt_object: 2019-10-25 10:36:32.827300
type(dt_object):  <class 'datetime.datetime'>

### measuring time span with delta

In [21]:
#import datetime
from datetime import timedelta
# create timedelta object with difference of 2 weeks
d = timedelta(weeks=2)

print(d)
print(type(d))
print(d.days)

14 days, 0:00:00
<class 'datetime.timedelta'>
14

In [22]:
year = timedelta(days=365)
print(year)

365 days, 0:00:00

In [23]:
#import datetime
from datetime import datetime, timedelta
# get current time
now = datetime.now()
print ("Today's date: ", str(now))

#add 15 days to current date
future_date_after_15days = now + timedelta(days = 15)
print('Date after 15 days: ', future_date_after_15days)

#subtract 2 weeks from current date
two_weeks_ago = now - timedelta(weeks = 2)
print('Date two weeks ago: ', two_weeks_ago)
print('two_weeks_ago object type: ', type(two_weeks_ago))

Today's date:  2021-09-14 18:45:19.849020
Date after 15 days:  2021-09-29 18:45:19.849020
Date two weeks ago:  2021-08-31 18:45:19.849020
two_weeks_ago object type:  <class 'datetime.datetime'>

### difference between two dates and times

In [25]:
# import datetime
from datetime import date
# Create two dates
date1 = date(2008, 8, 18)
date2 = date(2008, 8, 10)

# Difference between two dates
delta = date2 - date1
print("Difference: ", delta.days)
print('delta object type: ', type(delta))

Difference:  -8
delta object type:  <class 'datetime.timedelta'>

In [26]:
# import datetime
from datetime import datetime
# create two dates with year, month, day, hour, minute, and second
date1 = datetime(2017, 6, 21, 18, 25, 30)
date2 = datetime(2017, 5, 16, 8, 21, 10)

# Difference between two dates
diff = date1-date2
print("Difference: ", diff)

Difference:  36 days, 10:04:20

## formatting dates: strftime() and strptime()

In [28]:
# format is      time.strptime(string, format)
# import datetime
from datetime import datetime
date_string = "1 August, 2019"

# format date
date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object: ", date_object)

date_object:  2019-08-01 00:00:00

In [29]:
# import datetime
from datetime import datetime
dt_string = "12/11/2018 09:15:32"
# Considering date is in dd/mm/yyyy format
dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")
print("dt_object1:", dt_object1)
# Considering date is in mm/dd/yyyy format
dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
print("dt_object2:", dt_object2)

# Convert dt_object2 to Unix Timestamp
timestamp = datetime.timestamp(dt_object2)
print('Unix Timestamp: ', timestamp)

# Convert back into datetime
date_time = datetime.fromtimestamp(timestamp)
d = date_time.strftime("%c")
print("Output 1:", d)
d = date_time.strftime("%x")
print("Output 2:", d)
d = date_time.strftime("%X")
print("Output 3:", d)

dt_object1: 2018-11-12 09:15:32
dt_object2: 2018-12-11 09:15:32
Unix Timestamp:  1544537732.0
Output 1: Tue Dec 11 09:15:32 2018
Output 2: 12/11/18
Output 3: 09:15:32

## [Link to useful strptime and strftime patterns](useful_strptime_patterns.png)

In [32]:
# current date and time
now = datetime.now()

# get year from date
year = now.strftime("%Y")
print("Year:", year)

# get month from date
month = now.strftime("%m")
print("Month;", month)

# get day from date
day = now.strftime("%d")
print("Day:", day)

# format time in HH:MM:SS
time = now.strftime("%H:%M:%S")
print("Time:", time)

# format date
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("Date and Time:",date_time)

Year: 2021
Month; 09
Day: 14
Time: 18:54:05
Date and Time: 09/14/2021, 18:54:05

### handling timezones

In [34]:
# import timezone from pytz module
from pytz import timezone
# Create timezone US/Eastern
east = timezone('US/Eastern')
# Localize date
loc_dt = east.localize(datetime(2011, 11, 2, 7, 27, 0))
print(loc_dt)

# Convert localized date into Asia/Kolkata timezone
kolkata = timezone("Asia/Kolkata")
print(loc_dt.astimezone(kolkata))

# Convert localized date into Australia/Sydney timezone
au_tz = timezone('Australia/Sydney')
print(loc_dt.astimezone(au_tz))

2011-11-02 07:27:00-04:00
2011-11-02 16:57:00+05:30
2011-11-02 22:27:00+11:00

### pandas!

In [35]:
# import pandas module as pd
import pandas as pd
# create date object using to_datetime() function
date = pd.to_datetime("8th of sep, 2019")
print(date)

2019-09-08 00:00:00

In [37]:
# Create date series using numpy and to_timedelta() function
import numpy as np
date_series = date + pd.to_timedelta(np.arange(12), 'D')
print(date_series)

# Create date series using date_range() function
date_series = pd.date_range('08/10/2019', periods = 12, freq ='D')
print(date_series)

DatetimeIndex(['2019-09-08', '2019-09-09', '2019-09-10', '2019-09-11',
               '2019-09-12', '2019-09-13', '2019-09-14', '2019-09-15',
               '2019-09-16', '2019-09-17', '2019-09-18', '2019-09-19'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13',
               '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21'],
              dtype='datetime64[ns]', freq='D')

In [41]:
# Create a DataFrame with one column date
df = pd.DataFrame()
df['date'] = date_series 
df.head()

        date
0 2019-08-10
1 2019-08-11
2 2019-08-12
3 2019-08-13
4 2019-08-14

In [42]:
# Extract year, month, day, hour, and minute. Assign all these date component to new column.
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df.head()

        date  year  month  day  hour  minute
0 2019-08-10  2019      8   10     0       0
1 2019-08-11  2019      8   11     0       0
2 2019-08-12  2019      8   12     0       0
3 2019-08-13  2019      8   13     0       0
4 2019-08-14  2019      8   14     0       0

In [46]:
# get Weekday and Day of Year. Assign all these date component to new column.
df['weekday'] = df['date'].dt.weekday
df['day_name'] = df['date'].dt.day_name
df['dayofyear'] = df['date'].dt.dayofyear
df.head()

,date,year,month,day,hour,minute,weekday,day_name,dayofyear
0,2019-08-10,2019,8,10,0,0,5,<bound method PandasDelegate._add_delegate_acc...,222
1,2019-08-11,2019,8,11,0,0,6,<bound method PandasDelegate._add_delegate_acc...,223
2,2019-08-12,2019,8,12,0,0,0,<bound method PandasDelegate._add_delegate_acc...,224
3,2019-08-13,2019,8,13,0,0,1,<bound method PandasDelegate._add_delegate_acc...,225
4,2019-08-14,2019,8,14,0,0,2,<bound method PandasDelegate._add_delegate_acc...,226

In [47]:
# Assign date column to dataframe index
df.index = df.date
df.head()

,date,year,month,day,hour,minute,weekday,day_name,dayofyear
date,,,,,,,,,
2019-08-10,2019-08-10,2019,8,10,0,0,5,<bound method PandasDelegate._add_delegate_acc...,222
2019-08-11,2019-08-11,2019,8,11,0,0,6,<bound method PandasDelegate._add_delegate_acc...,223
2019-08-12,2019-08-12,2019,8,12,0,0,0,<bound method PandasDelegate._add_delegate_acc...,224
2019-08-13,2019-08-13,2019,8,13,0,0,1,<bound method PandasDelegate._add_delegate_acc...,225
2019-08-14,2019-08-14,2019,8,14,0,0,2,<bound method PandasDelegate._add_delegate_acc...,226

# practice

### import datetime

In [49]:
import datetime as dt

current_date = dt.date.today()
print(current_date)

2021-09-14

In [51]:
datetime_object = dt.datetime.now()
print(datetime_object)

2021-09-14 19:03:09.731375

In [52]:
date_object = dt.date.today()
print(date_object)

2021-09-14

In [53]:
print(dir(dt))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [54]:
d = dt.date(2019, 4, 13)
print(d)

2019-04-13

### import date

In [55]:
from datetime import date

a = date(2019, 4, 13)
print(a)

2019-04-13

In [56]:
today = date.today()

print("Current date =", today)

Current date = 2021-09-14

In [57]:
timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-10

In [58]:
# date object of today's date
today = date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2021
Current month: 9
Current day: 14

### import time

In [59]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print("a =", a)

# time(hour, minute and second)
b = time(11, 34, 56)
print("b =", b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print("d =", d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566

In [62]:
a = time(11, 34, 56)

print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

### import datetime

In [63]:
from datetime import datetime

#datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

In [64]:
from datetime import datetime

a = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511931359.34238

### datetime.timedelta

In [67]:
from datetime import datetime, date # difference between two dates and times

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [68]:
from datetime import timedelta # difference between two timedelta objects

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [69]:
from datetime import timedelta # printing negative timedelta objects

t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2

print("t3 =", t3)
print("t3 =", abs(t3))

t3 = -1 day, 23:59:39
t3 = 0:00:21

In [70]:
from datetime import timedelta # time duration in seconds

t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("total seconds =", t.total_seconds())

total seconds = 435633.233423

In [72]:
from datetime import datetime # strftime()

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S") # string!
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S") # string!
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S") # string!
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 19:10:10
s1: 09/14/2021, 19:10:10
s2: 14/09/2021, 19:10:10

In [74]:
from datetime import datetime # strptime()

date_string = "21 June, 2018"
print("date_string =", date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00

In [75]:
from datetime import datetime
import pytz # timezones again...

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 09/14/2021, 19:10:44
NY: 09/14/2021, 19:10:44
London: 09/15/2021, 00:10:44