# Defining a set

In [ ]:
x = set(<iter>)

In [ ]:
>>> x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
>>> x
# {'qux', 'foo', 'bar', 'baz'}

>>> x = set(('foo', 'bar', 'baz', 'foo', 'qux'))
>>> x
# {'qux', 'foo', 'bar', 'baz'}

In [ ]:
>>> s = 'quux'

>>> list(s)
# ['q', 'u', 'u', 'x']
>>> set(s)
# {'x', 'u', 'q'} no duplicates :!

##### the argument 'set' is an iterable. See how it iterates through the string?

In [ ]:
>>> {'foo'}
{'foo'}

>>> set('foo')
{'o', 'f'}

In [ ]:
>>> x = set()
>>> bool(x)
# False ... an empty set is falsy

In [ ]:
# sets can have different elements!
>>> x = {42, 'foo', 3.14159, None}
>>> x
# {None, 'foo', 42, 3.14159}
# But lists and dictionaries are mutable, so they canâ€™t be set elements:

## Set size and membership

In [ ]:
>>> x = {'foo', 'bar', 'baz'}

>>> len(x)
# 3

>>> 'bar' in x
# True, in can be used along with not in
>>> 'qux' in x
# False

## operators vs. methods

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'baz', 'qux', 'quux'}
>>> x1 | x2
# {'baz', 'quux', 'qux', 'bar', 'foo'} a set union is done using a bar in python!
# with | both operands MUST be sets.

In [ ]:
>>> x1.union(x2) # or the union operator
# {'baz', 'quux', 'qux', 'bar', 'foo'}
# .union can take iterables as arguments! converting it to a set then performing the union. NEAT!

In [ ]:
>>> a = {1, 2, 3, 4}
>>> b = {2, 3, 4, 5}
>>> c = {3, 4, 5, 6}
>>> d = {4, 5, 6, 7}

>>> a.union(b, c, d)
# {1, 2, 3, 4, 5, 6, 7}

>>> a | b | c | d
# {1, 2, 3, 4, 5, 6, 7}

#### intersection (imagine a ven diagram, the overlap contains elements in both sets...)

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'baz', 'qux', 'quux'}

>>> x1.intersection(x2)
# {'baz'}

>>> x1 & x2
# {'baz'}

In [ ]:
>>> a = {1, 2, 3, 4}
>>> b = {2, 3, 4, 5}
>>> c = {3, 4, 5, 6}
>>> d = {4, 5, 6, 7}

>>> a.intersection(b, c, d)
# {4}

>>> a & b & c & d
# {4}

#### difference (imagine a ven diagram, unique elements in set one are on the left, unique in set 2 are right)

In [2]:
# x1.difference(x2) and x1 - x2 return the set of all elements that are in x1 but not in x2:

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'baz', 'qux', 'quux'}

>>> x1.difference(x2)
# {'foo', 'bar'} what's in 1 but NOT in 2?

>>> x1 - x2
# {'foo', 'bar'} what's in 1 but NOT in 2?

In [ ]:
>>> a = {1, 2, 3, 30, 300}
>>> b = {10, 20, 30, 40}
>>> c = {100, 200, 300, 400}

>>> a.difference(b, c)
# {1, 2, 3} what's in 1 that's not in b OR c?

>>> a - b - c
# {1, 2, 3} what's in 1 that's not in b OR c?

In [ ]:
# what about showing UNIQUE values in all sets?
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'baz', 'qux', 'quux'}

>>> x1.symmetric_difference(x2) # only takes one argument. Try 2 and get an error!
# {'foo', 'qux', 'quux', 'bar'} 

>>> x1 ^ x2
# {'foo', 'qux', 'quux', 'bar'}

In [ ]:
# more than 2 sets?
>>> a = {1, 2, 3, 4, 5}
>>> b = {10, 2, 3, 4, 50}
>>> c = {1, 50, 100}

>>> a ^ b ^ c
# {100, 5, 10}

In [ ]:
# True or False to see if similar elements?
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'baz', 'qux', 'quux'}

>>> x1.isdisjoint(x2) # returns True if x1 and x2 have no elements in common
# False

>>> x2 - {'baz'}
{'quux', 'qux'}
>>> x1.isdisjoint(x2 - {'baz'}) # take away baz and you're good
# True

In [ ]:
>>> x1 = {1, 3, 5}
>>> x2 = {2, 4, 6}

>>> x1.isdisjoint(x2) #  is True, then x1 & x2 is the empty set
True
>>> x1 & x2
set()

### Subset = if every element of a is in b.

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}
>>> x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'}) # or use x1 <= x2
# True

>>> x2 = {'baz', 'qux', 'quux'}
>>> x1 <= x2
# False

# Sets are considered subsets of themselves.

### A proper subset = same, but sets cannot be identical.

In [ ]:
>>> x1 = {'foo', 'bar'}
>>> x2 = {'foo', 'bar', 'baz'}
>>> x1 < x2
# True

>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'foo', 'bar', 'baz'}
>>> x1 < x2
# False

In [ ]:
>>> x = {1, 2, 3, 4, 5}
>>> x <= x
# True
>>> x < x
# False

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'foo', 'bar'}
>>> x1 > x2
# True

>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'foo', 'bar', 'baz'}
>>> x1 > x2
# False

### Superset = reverse of a subset.

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}

>>> x1.issuperset({'foo', 'bar'})
# True

>>> x2 = {'baz', 'qux', 'quux'}
>>> x1 >= x2
# False

# Modifying a set

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'foo', 'baz', 'qux'}

>>> x1 |= x2 # add to x1, what it doesn't already have
>>> x1
# {'qux', 'foo', 'bar', 'baz'}

>>> x1.update(['corge', 'garply'])
>>> x1
# {'qux', 'corge', 'garply', 'foo', 'bar', 'baz'}

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'foo', 'baz', 'qux'}

>>> x1 &= x2 # make x1 retain only what's in both
>>> x1
# {'foo', 'baz'}

>>> x1.intersection_update(['baz', 'qux'])
>>> x1
# {'baz'}

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'foo', 'baz', 'qux'}

>>> x1 -= x2 # removing elements found in x2
>>> x1
# {'bar'}

>>> x1.difference_update(['foo', 'bar', 'qux'])
>>> x1
set()

In [ ]:
>>> x1 = {'foo', 'bar', 'baz'}
>>> x2 = {'foo', 'baz', 'qux'}
>>> 
>>> x1 ^= x2 # retaining elements found in either, but NOT both
>>> x1
# {'bar', 'qux'}
>>> 
>>> x1.symmetric_difference_update(['qux', 'corge'])
>>> x1
{'bar', 'corge'}

### other methods for modifying sets...

In [ ]:
>>> x = {'foo', 'bar', 'baz'}

>>> x.add('qux') # add element to a set
>>> x
# {'bar', 'baz', 'foo', 'qux'}

In [ ]:
>>> x = {'foo', 'bar', 'baz'}

>>> x.remove('baz') # remove element from a set
>>> x
# {'bar', 'foo'} get ERROR if it's not in the set

In [ ]:
>>> x = {'foo', 'bar', 'baz'}

>>> x.discard('baz')
>>> x
# {'bar', 'foo'}

>>> x.discard('qux')
>>> x
# {'bar', 'foo'} NO ERROR!

In [ ]:
>>> x = {'foo', 'bar', 'baz'}

>>> x.pop() # removes RANDOM element. If empty set, get an ERROR
'bar'
>>> x
# {'baz', 'foo'}

>>> x.pop()
'baz'
>>> x
# {'foo'}

>>> x.pop()
'foo'
>>> x
# set()

In [ ]:
>>> x = {'foo', 'bar', 'baz'}
>>> x
# {'foo', 'bar', 'baz'}
>>> 
>>> x.clear() # Removes ALL ELEMENTS
>>> x
# set()

## Frozen Sets

In [3]:
>>> x = frozenset(['foo', 'bar', 'baz']) # immutable but CAN perform non modifying operations
>>> x
# frozenset({'foo', 'baz', 'bar'})

>>> len(x)
# 3

>>> x & {'baz', 'qux', 'quux'}
# frozenset({'baz'})

# Try to .add, .pop, .clear whatever.. it raises an error.

frozenset({'baz'})

In [ ]:
##### Need to use a set but you need an immutable object?

>>> x1 = set(['foo'])
>>> x2 = set(['bar'])
>>> x3 = set(['baz'])
>>> x = {x1, x2, x3}
Traceback (most recent call last):
  File "<pyshell#38>", line 1, in <module>
    x = {x1, x2, x3}
TypeError: unhashable type: 'set'
        
        # but...
        
>>> x1 = frozenset(['foo'])
>>> x2 = frozenset(['bar'])
>>> x3 = frozenset(['baz'])
>>> x = {x1, x2, x3}
>>> x
# {frozenset({'bar'}), frozenset({'baz'}), frozenset({'foo'})} WORKS