In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame({
'one': pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
'two': pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
'three': pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

df2 = df.copy()
df.gt(df2)
df2.ne(df)

     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [10]:
(df > 0).all()

one      False
two      False
three    False
dtype: bool

In [11]:
(df > 0).any()

one      True
two      True
three    True
dtype: bool

In [12]:
(df > 0).any().any()

True

In [2]:
pd.Series(['foo', 'bar', 'baz']) == 'foo'

0     True
1    False
2    False
dtype: bool

In [4]:
pd.Series(['foo', 'bar', 'baz']) == pd.Index(['foo', 'bar', 'qux'])

0     True
1     True
2    False
dtype: bool

In [6]:
pd.Series(['foo', 'bar', 'baz']) == pd.Series(['foo', 'bar'])

ValueError: Can only compare identically-labeled Series objects

In [13]:
(df + df == df * 2).all()

one      False
two       True
three    False
dtype: bool

In [14]:
df + df == df * 2

     one   two  three
a   True  True  False
b   True  True   True
c   True  True   True
d  False  True   True

In [15]:
np.nan == np.nan

False

In [16]:
(df + df).equals(df * 2)

True

In [17]:
# Aggregation for each column
df.mean(0)

one      0.264701
two     -0.454154
three    0.971979
dtype: float64

In [18]:
# Aggregation for each index
df.mean(1)

a   -1.277820
b    0.293608
c    0.289376
d    1.350055
dtype: float64

In [19]:
ts_stand = (df - df.mean()) / df.std()
ts_stand.std()

one      1.0
two      1.0
three    1.0
dtype: float64